@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}

/* #imagemcentro{
    border-radius:30%;
    width: 70%;
} */

/* body {
    font-family: 'Jost', sans-serif;
    margin-bottom: 0px;
    background-color: #F2F2F2;
} */

h1 {
    color: rgba(34,110,147,1);
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 2%;
    letter-spacing: 1%;
    text-transform: uppercase;

}

#realidadeaumentada p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#realidadeaumentada p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#comoelafunciona p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#aplicacoes p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#infinitaspossibilidades p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#comosurgiu p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#oculosra p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}
#rafilmes p{
    text-indent: 2%;
    margin: 0 10%;
    line-height: 170%;
    text-align: justify;
}

p {
    color: #0D0D0D;
    /* font-size: 15px; */
    font-family: verdana;
    /* text-align: justify; */
    /* text-indent: 3cm; */
    /* line-height: 35px;
    margin-left: 175px;
    margin-right: 175px; */
}

a {
    align-items: center;
    font-size: 10px;
    text-decoration: none;
    color: #0D0D0D;
}


h2 {
    color: #F2F2F2;
    font-size: 1.2em;
    font-family: 'Jost', sans-serif;
    letter-spacing: .25em;
    text-align: center;
    border-width: .75em;
    border-style: solid;
    border-color: #344973;
    border-radius: 2em;
    margin: 2% 25%;
    background-color: #344973;
}

h3 {  
    font-size: 1em;
    text-align: center;
}

h5 {
    display: inline-block;
    font-weight: normal;
    font-family: verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    padding: 15px 15px 15px 15px;
    margin: 20px 15px 30px 15px;
    border-radius: 100px 100px 100px 100px;
}

ul li {
    list-style: none;
    align-items: center;
    }

.list ul li {
        list-style: none;
        align-items: center;
        color: #0D0D0D;
        font-size: 15px;
        font-family: verdana;
        text-align: left;
        text-indent: 3cm;
        line-height: 35px;
        margin-left: 175px;
        margin-right: 175px;
        }

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.header nav img{
    max-width: 400px;
    max-height: 400px;
    align-items: center;
}
    
.menu {
    display: inline-flex;
}

.menu li {
    margin: 10px 10px 10px 10px;
}

.menu li a img{  

    align-items: center;
    width: 35px;
    height: 35px;
    border-radius:15px 15px 15px 15px;
}





footer{
    background:url(../img/blur_cinza.jpg);
    color: #fff;
}


div.logo img{
    width: 10%;
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.rodape{  
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* align-items:baseline; */
    
}
#cris img{
    width: 70%;
}
#dani img{
    width: 70%;
}
#henr img{
    width: 70%;
}
#ayane img{
    width: 70%;
}
.pessoas{
    margin: 0 auto;
}

/* footer figure img {
    width: auto;
    height: auto;
} */

footer p {
    /* border: 0px;
    margin: 5px;
    padding: 0px; */
    /* text-indent: 0cm; */
    color: #ffffff;
    font-size: .8em;
    font-family: 'Jost', sans-serif;
    text-align: center;
}





