@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}

#logoFooter img{
    width: 7%;
}
#logoFooter { grid-area: header; }
.cris {
     grid-area: cris; 
     display: inline;
     align-items: center;
    }
.cris img{
    width: 20%;
}
.dani {
    grid-area: dani;
    display: flex;
    align-items: center;
}
.dani img{
    width: 20%;
}
.henr {
     grid-area: henr;
     margin-left:-2%;
     display: flex;
     align-items: center;
}
.henr img{
    width: 20%;
}
.ayane {
     grid-area: ayane;
     /* margin-left:-3.5%; */
     display: flex;
     align-items: center;
}
.ayane img{
    width: 20%;
}
#last-line { grid-area: footer; }

.grid-container {
    color: #fff;
font-family: 'Jost', sans-serif;
  display: grid;
  grid-template-areas:
    'header  header'
    'cris dani'
    'henr ayane'
    'footer footer';
  /* gap: 10px; */
  background:url(../img/blur_cinza.jpg);
  padding: 10px;
}

.grid-container div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
}

/* #menu{
    width: 100%;
    height: 10%;
    background-color: rgb(122, 0, 0);
} */

/* div.integrantes{
    display: grid;
    grid-template-areas:
    "pessoa pessoa"
    "pessoa pessoa";
}
.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-gap: 10px;
    background-color: #eee;
  }
  .item {
    padding: 10px;
    text-align: center;
    background-color: #ccc;
 } */
  /* .item.item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
  } */

/* #last-line{
    text-align:center;
    justify-content: center;
} */